<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashUp"
        tools:targetApi="31">


        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Homepage Activity -->
        <activity
            android:name=".HomepageActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".com.example.cashup.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Expense Creation Activity -->
        <!-- Make sure this name matches your actual Kotlin class -->
        <activity
            android:name=".ExpenseCreationActivity"
            android:exported="false" />

        <!-- Edit Categories View Activity -->
        <activity
            android:name=".editCategoriesView"
            android:exported="false" />

        <!-- ADDED: Income Activity -->
        <activity
            android:name=".AddIncomeActivity"
            android:exported="false" />

        <!-- ADDED: Goals Activity -->
        <activity
            android:name=".GoalsActivity"
            android:exported="false" />

        <!-- ADDED: Calendar Activity -->
        <activity
            android:name=".com.example.cashup.CalendarActivity"
            android:exported="false" />
        <!-- ADDED: Profile Activity -->
        <activity
            android:name=".com.example.cashup.ProfileActivity"
            android:exported="false" />

        <!-- ADDED: Add Expense -->
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false" />

        <!-- ADDED: Gamification Activity -->
        <activity
            android:name=".GamifyActivity"
            android:exported="false" />

        <!-- Add any other Activities you create here -->

    </application>

</manifest>
